# Node modules
node_modules/

# Build output
dist/
out/
build/

# Electron packaging artifacts
*.asar
*.asar.unpacked

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# dotenv
.env
.env.*

# lockfiles (optional: if you don’t want to commit yarn.lock or package-lock.json)
# package-lock.json
# yarn.lock
